{% load mathfilters %}
<div class="votebuttons" data-vote-elem-pk="{{ vote_elem.pk }}" data-url="{{ vote_url }}" title="{{ vote_elem.vote_count }} Votes">
    <div class="icon-arrow-up upvote{% if vote_elem.voted_up %} active{% endif %}{% if not user.is_authenticated %} disabled{% endif %}"></div>
    <span class="vote_sum">{{ vote_elem.upvote_count|sub:vote_elem.downvote_count }}</span>
    <div class="icon-arrow-down downvote{% if vote_elem.voted_down %} active{% endif %}{% if not user.is_authenticated %} disabled{% endif %}"></div>
</div>
