{% load md %}
{% load thumbnail %}

{% for event in object_list %}
    <article class="event">
        <a href="{% url 'events:event_detail' event.pk %}">
            <time class="date" datetime="{{ event.start_date|date:"Y-m-d" }}">
                <span class="day">{{ event.start_date|date:"d" }}</span>
                <span class="month">{{ event.start_date|date:"M" }}</span>
                {#% if event.start_date.year <= current_year %#}
                    <span class="year">{{ event.start_date|date:"Y" }}</span>
                {#% endif %#}
            </time>
        </a>
        <div class="summary">
            <div class="event-top">
              <div class="event-title">
                  <a href="{% url 'events:event_detail' event.pk %}">
                    <h3>{{ event.summary }}</h3>
                  </a>
                  {% if event.author %}
                      <a rel="author" href="{% url 'user' event.author.pk event.author.username|slugify %}">{{ event.author.name }}</a>
                  {% else %}
                      <span class="author">Gelöschter User</span>
                  {% endif %}

                  <p>
                    <strong>Zeit:</strong> {{ event.start_date|date:"D, d. F Y" }} {{ event.start_time|time:"H:i" }}
                    {% if event.end_date or event.end_time %}
                        - {% if event.end_date %}{{ event.end_date|date:"D, d. F Y" }}{% else %}{{ event.start_date|date:"D, d. F Y" }}{% endif %} {{ event.end_time|time:"H:i" }}
                    {% endif %}
                  </p>

                  {% if event.location %}<p><strong>Ort:</strong> {{ event.location }}</p>{% endif %}

                  {% if event.url %}<p><strong>Website:</strong> {{ event.url|urlize }}</p>{% endif %}
              </div>

              {% if event.picture %}
                  <div class="event-picture">
                      <img src="{% thumbnail event.picture 150x150 %}" alt="Bild/Flyer zu {{ event.summary }}">
                  </div>
              {% endif %}
            </div>

            <div class="md-content">
                {{ event.description|urlize|render_markdown }}
            </div>
        </div>
    </article>
{% endfor %}
