{% extends 'base.html' %} {% load tabs %}
{% load thumbnail %}
{% load compress %}

{% block title %}Tipps und Tricks{% endblock %}

{% block bodyclass %}tipp_list{% endblock %}

{% block navigation %}
    {% activetab 'navigation' 'tipps' %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <!-- <script src="{{ STATIC_URL }}js/quote_votes.js"></script> -->
    {% endcompress %}
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Tipps und Tricks</h1>
    </div>

    {# TODO: pagination, C(R)UD, voting #}

    <p>Tipps und Tricks</p>

    {% for tipp in object_list %}
        <article class="quote {% if tipp.author_id == user.pk %}quote-edit{% endif %}">
          <p>{{ tipp.date|date }} - {{ tipp.description }}</p>
        </article>
    {% empty %}
        <p><em>Keine Tipps gefunden.</em></p>
    {% endfor %}

{% endblock %}
